#About {
	margin: 50px;
	padding: 50px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-family: Helvetica;
	background-color: #f9f4ee;
}

#about-right-info	{
	text-align: center;
}

.left-column {
	flex-basis: 50%;
}

.left-column img{
	width: 90%;
    box-shadow: 2px 2px 8px #D2B48C;
    border: 5px solid #ffffff;
}

.right-column {
	flex-basis: 50%
}

.about-info {
	text-align: center;
	padding: 10px;
	display: inline-block;
	/*margin-right: 300px;*/
}

/*Profile Photo*/
#imgprofile {
	width: 300px;
	text-align: center;
	align-content: center;
	/*margin-left: 300px;*/

}

h3 {
	padding: 10px;
	margin-bottom: 10px;
}

h5	{
	color: #291d0e;
}

form {
	background-image: url(background.jpg);
}

/*card*/

.card-container {
	display: flex;
}

